:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  a {
    text-decoration: none;
  }
  .router-link-active {
    text-decoration: none;
  }
  .demo-form .el-input {
    border: 0;
  }
  .demo-form .el-input__inner{
    border-color:red;
    border: 0;
  }
  .demo-form .el-input__wrapper{
    background-color: #00000000;
    font-size: 16px;
    border-radius: 0;
    border-color:#00000000;
    border: 0;
  }

}
